@media (max-width:600px) {
    main {
        flex-direction: column-reverse;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .tool-section {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tool-board {
        width: 100%;
        height: 100%;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tool-section .tool-board .content {
        width: 90%;
    }
}

/* TODO max width 950 */

/* TODO max width 415 */