body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: dense;
    width: 95%;
    gap: 10px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

img {
    display: block;
    width: 100%;
}